window {
	background-color: #282828;
	font-size: 16px;
	font-family: "Iosevka";
	border-radius: 0px;
}

#entry:selected {
	background-color: #d3869b;
	border-radius: 0px;
}

#text {
	color: #ebdbb2;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 0px;
}

#text:selected {
	color: #282828;
}

#outer-box {
	border: 2px solid #b16286;
	border-radius: 0px;
}

#inner-box {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

#input {
	padding: 5px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: #3c3836;
	border: 0px solid transparent;
	border-radius: 0px;
	color: #ebdbb2;
}

#img {
	margin-left: 5px;
}
